/* h1 {
    color:brown;
    background-color: aliceblue;
}
h2 {
    color:brown;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    font-size: large;
    
    
}
ul {
    font-size: 30px;
    line-height: 20px;
} */

#container {
    display: flex;
    justify-content: center;
}

#unordered {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    background-color: aliceblue;
    border-radius: 30px;
    width: 125px;
    border: solid grey 3px;
}

#ordered {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    background-color: aliceblue;
    border-radius: 30px;
    width: 125px;
    border: solid grey 3px;
}



#spantitle {
    font-style: italic;
    color: red;
}

h1 {
    text-align: center;
}


#hated {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
    background-color: coral;
    opacity: 45%;
    justify-content: center;
    text-align: center;
    
}

#img-container {
    display: ;
}
